@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
/* Общие */
body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    font-family: "Cormorant", serif;
    color: #ffffff;
    background-color: black;
}

a{
    color:#ffffff;
    text-decoration: none;
}
p{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
}


/* header */
.header {
    padding-top: 32px;
   
}
.header .container{
    max-width: 860px;
    padding-left: 116px;
    padding-right: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {

}

.header__nav a {
    font-weight: 500;
    font-size: 32px;
    padding: 7px 7px;
}

.header__nav a:hover{
    color: #4D7A77;
}


.header__list {
    display: flex;
    gap: 21px;
}
.header__link1{
    color: #4D7A77 !important;
}

.logo {

}
.logo:hover{

}

.header__logo {

}

.header__logo:hover{
    opacity: 0.8;
}

/*  */
.main {
}
.about {
    margin-top: 20px;
    background-color: #474A51;
}
.about .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
.about__pravda {
    margin: 0;
    /* ПРАВДА ОДНА: КАЧЕСТВЕННАЯ ЕДА И ОТМЕННЫЕ НАПИТКИ */

    padding: 20px 0px 30px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;




}
.about__pravda:hover{
    text-shadow: 3px -4px 8px #000000;
}
.short-line {
    margin: 0;
    height: 5px;
    width: 160px;
    background-color: #4D7A77;
    border-radius: 2.5px; 
    border: none; 
}
.about2__pravda{
    max-width: 700px;
 /* Именно этот неизменный тандем лег в концепцию гастробара на Зыбицкой. «Правда» — это свежая, лишенная пафоса, история о хорошем вкусе. */
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding: 38px 0px;

}


/* информация о баре */

.information {
    padding-top: 94px;
}

.information .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 90px;
    row-gap: 120px;
    flex-wrap: wrap;
}

.container {

}

.information_img {
    object-fit: cover;
    width: 430px;
    height: 382px;
    border-radius: 70px;
    transition: 1s;
}
.information_img:hover{
    transform: scale(1.3);
}

.information_text {
    max-width: 540px;
}

.information_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 0;
}

.information_desc {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

footer{
    background-color: #4D7A77;
    height: 35px;
    margin-top: 70px;
}

footer .container {
    max-width: 880px;
    display: flex;
    padding-top: 5px;
    align-items: center;
}

.tel {



    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-right: 254px;





}
.tel:hover{
    opacity: 0.8;
}
.place{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;


}
.place:hover{
    opacity: 0.8;
}

.icons {
    display: flex;
    gap: 15px;
    margin-right: 197px;
}

.icons .icon{
    width: 18px;
    height: 18px;
}
.icon:hover{
    opacity: 0.8;
}

@media (min-width: 769px) and (max-width: 1460px) {
    /* Стили для ширины экрана от 769px до 1460px */
  
    /* .container {
      max-width: 100%;
      padding: 0 20px;
    } */
  
    .header .container {
      max-width: 860px;
      padding-left: calc(116px * 0.1); /* Уменьшаем отступ слева на 40% */
      padding-right: calc(84px * 0.2); /* Уменьшаем отступ справа на 40% */
      
    }
  
    .header {
      padding: 20px 0; /* Уменьшаем отступы сверху и снизу для заголовка */
    }
  
    .header__nav a {
      font-size: 24px; /* Уменьшаем размер шрифта для ссылок навигации */
      padding: 5px 5px; /* Уменьшаем отступы внутри ссылок навигации */
    }
  
    .header__list {
      gap: 15px; 
    }
    /* .information .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 90px;
        row-gap: 120px;
        flex-wrap: wrap;
    }

     */



  
  
     .about .container {
        flex-direction: row;
    }

    .about__pravda {
        font-size: 26px;
    }

    .short-line {
        width: 120px;
    }

    .about2__pravda {
        font-size: 24px;
        line-height: 32px;
        padding: 20px 0;
    }

    .information .container {
        column-gap: 60px;
        row-gap: 80px;
    }

    .information_img {
        width: 300px;
        height: 266px;
        border-radius: 50px;
    }

    .information_text {
        max-width: 400px;
    }

    .information_title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .information_desc {
        font-size: 20px;
        line-height: 26px;
    }
    footer{
        height: 100%;
    }
    footer .container {
        justify-content: space-between;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }


  }
@media (max-width: 768px) {
    /* Стили для ширины экрана до 769px */
  
    .header .container {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 0;
    }
    .header__list {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    .header__logo {
        max-width: 80%;
        height: auto;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__pravda {
        font-size: 24px;
        padding: 10px 0;
    }

    .short-line {
        width: 80px;
    }

    .about2__pravda {
        font-size: 20px;
        line-height: 26px;
        padding: 20px 0;
    }
    .information {
        padding-top: 10px;
    }
    .information .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }

    .information_img {
        display: none;
    }

    .information_text {
        max-width: 100%;
        text-align: center;
    }

    .information_title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .information_desc {
        font-size: 18px;
        line-height: 24px;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    footer{
        height: 100%;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }
    
  }