@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
/* Общие */
body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    font-family: "Cormorant", serif;
    color: #ffffff;
    background-color: #000000;
}

a{
    color:#ffffff;
    text-decoration: none;
}
p{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
}

.page_name{
    margin-top: 34px;
    margin-bottom: 34px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

}


/* header */
.header {
    padding-top: 32px;
   
}
.header .container{
    max-width: 860px;
    padding-left: 116px;
    padding-right: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {

}

.header__nav a {
    font-weight: 500;
    font-size: 32px;
    padding: 7px 7px;
}

.header__nav a:hover{
    color: #4D7A77;
}

.header__list {
    display: flex;
    gap: 21px;
}

.logo {

}
.logo:hover{

}

.header__logo {

}

.header__logo:hover{
    opacity: 0.8;
}




/* меню */

.bar {
}

.nav_bar {

}
.nav_bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_name {
    width: 280px;

}
.page_name_bar {
    margin-right: 105px;
}
.page_name_food {
}

.page_name_food {
    opacity: 0.8;
}
.page_name_food:hover{
    opacity: 1;
}

.bar .container {

    padding-top: 70px;
    padding-bottom: 70px;
    background: #D9D9D9;

}

.bar_menu {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.bar_menu > *:first-child {
    height: 280px;
    padding-bottom: 0;
    margin-top: 20px;
}

.bar_menu > *:nth-child(2) {
    height: 394px;
    padding-bottom: 0;
    margin-top: 20px;
}

.bar_menu > *:nth-child(3) {
    height: 280px;
    padding-bottom: 0;
    margin-top: -117px;
}
.bar_menu > *:nth-child(4) {
    height: 220px;
    padding-bottom: 0;

}

.bar_menu > *:nth-child(5) {
    height: 307px;
    padding-bottom: 0;
    margin-top: -54px;
}

.bar_menu > *:nth-child(6) {
    height: 191px;
    padding-bottom: 0;

}
.bar_menu > *:nth-child(7) {
    height: 278px;
    padding-bottom: 0;

}
.bar_menu > *:nth-child(8) {
    height: 191px;
    padding-bottom: 0;
    margin-top: -65px;

}
.bar_menu > *:nth-child(9) {
    height: 133px;
    padding-bottom: 0;
    margin-left: auto;
    margin-top: -153px;

}

 .tinctures{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.rectangle{
    border: 2px solid #000000;
    width: 920px;
    height: 1246px;
    margin-left: 70px;
    margin-right: 70px;
}

.title_item {
    /* Домашние настойки */
   
    color: #000000;
    text-align: center;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    width: 340px;
    margin-bottom: 20px;
    margin-top: 0;

}
.items {

}
.text_item {
    /* Вишня с лавандой */


    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */



}
.price {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
}



/* footer */
footer{
    background-color: #4D7A77;
    height: 35px;
    margin-top: 70px;
}

footer .container {
    max-width: 880px;
    display: flex;
    padding-top: 5px;
    align-items: center;
}

.tel {



    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-right: 254px;





}
.tel:hover{
    opacity: 0.8;
}
.place{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;


}
.place:hover{
    opacity: 0.8;
}

.icons {
    display: flex;
    gap: 15px;
    margin-right: 197px;
}

.icons .icon{
    width: 18px;
    height: 18px;
}
.icon:hover{
    opacity: 0.8;
}


/* media */
@media (min-width: 769px) and (max-width: 1460px) {
    /* Стили для ширины экрана от 769px до 1460px */

  
    .header .container {
      max-width: 860px;
      padding-left: calc(116px * 0.1); 
      padding-right: calc(84px * 0.2); 
      
    }
  
    .header {
      padding: 20px 0; 
    }
  
    .header__nav a {
      font-size: 24px; 
      padding: 5px 5px; 
    }
  
    .header__list {
      gap: 15px; 
    }
    .bar .container{
        display: flex;
        justify-content: center;
    }
    .bar_menu {
        margin: 0 auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    
    }
    .bar_menu > * {
        height: auto;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(1) {
        height: 280px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(2) {
        height: 394px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(3) {
        height: 280px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(4) {
        height: 220px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(5) {
        height: 307px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(6) {
        height: 191px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(7) {
        height: 278px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(8) {
        height: 191px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(9) {
        height: 133px;
        margin-top: 0;
    }

    .tinctures {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;

        flex-wrap: wrap;
    }

    .rectangle {
        width: 100%;
        max-width: 920px;
        height: 100%;
        margin-left: 70px;
        margin-right: 60px;
    }
    .title_item{
        width: 100%;
    }
    .text_item,
    .price {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }
    .text_item{
        padding-left: 20px;
    }
    .price{
        padding-right: 20px;
    }

    footer{
        height: 100%;
    }
    footer .container {
        justify-content: space-between;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }

  }
@media (max-width: 768px) {
    /* Стили для ширины экрана до 769px */
  
    .header .container {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 0;
    }
    .header__list {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    .header__logo {
        max-width: 80%;
        height: auto;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bar .container{
        display: flex;
        justify-content: center;
    }
    .bar_menu {
        margin: 0 auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    
    }
    .bar_menu > * {
        height: auto;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(1) {
        height: 280px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(2) {
        height: 394px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(3) {
        height: 280px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(4) {
        height: 220px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(5) {
        height: 307px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(6) {
        height: 191px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(7) {
        height: 278px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(8) {
        height: 191px;
        margin-top: 0;
    }

    .bar_menu > *:nth-child(9) {
        height: 133px;
        margin-top: 0;
    }

    .tinctures {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;

        flex-wrap: wrap;
    }

    .rectangle {
        width: 100%;
        max-width: 920px;
        height: 100%;
        margin-left: 70px;
        margin-right: 60px;
    }
    .title_item{
        width: 100%;
        font-size: 24px;
    }
    .text_item,
    .price {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        font-size: 18px;
    }
    .text_item{
        padding-left: 15px;
    }
    .price{
        padding-right: 15px;
    }
    

    footer{
        height: 100%;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    .tel, .place, .icons {
        margin: 10px 0;
    }

    .tel {
        margin-right: 0;
    }

    .icons {
        margin-right: 0;
    }

    .icons .icon {
        width: 14px;
        height: 14px;
    }
    
  }